<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/headUsers.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    
    <section class="mainreg">
        <div class="espacio-imagen">
            <img src="/img/fondo-reglog7.png">
        </div>
        <div class="espacio-formulario">
            <div class="formulario">
                <!--<ul class="errores"></ul>-->
                <h2>Registro</h2>
                
                <form class="form" action="/users/register" enctype="multipart/form-data" method="post">
                    <div class="inputBx">
                        <label>Usuario</label>
                        <div class="inputIcon">
                            <input class="inputUser"
                            type="text" 
                            name="user" 
                            id="user"
                            <% if(locals.errors && errors.user){%> 
                                class = "invalid-value"
                            <% } %>
                            value="<%= locals.old ? old.user : null %>">
                        </div>
                        <% if(locals.errors && errors.user){%>
                            <div class="ErrFormulario">
                                <%= errors.user.msg %>
                            </div>
                        <% } %>
                        <small class="ErrFormulario" id="userError"></small> 
                    </div>

                    <div class="inputBx">
                        <label>Nombre(s)</label>
                        <div class="inputIcon">
                            <input class="inputName"
                            type="text" 
                            name="name" 
                            id="name"
                            
                            <% if(locals.errors && errors.name) {%>
                                class = "invalid-value"
                            <% } %> 
                            value="<%= locals.old ? old.name : '' %>">
                        </div>
                        <% if(locals.errors && errors.name){%>
                            <div class="ErrFormulario">
                                 <%= errors.name.msg %>
                            </div>
                        <% } %>
                        <small class="ErrFormulario" id="nameError"></small> 
                    </div>

                    <div class="inputBx">
                        <label>Apellido(s)</label>
                        <div class="inputIcon"> 
                            <input class="inputLastName"
                            type="text" 
                            name="lastName" 
                            id="lastName"
                            
                            <% if(locals.errors && errors.lastName) {%>
                                class="invalid-value"
                            <% } %>
                            value="<%= locals.old ? old.lastName : '' %>">
                        </div>
                        <% if(locals.errors && errors.lastName){%>
                            <div class="ErrFormulario">
                                <%= errors.lastName.msg %>
                            </div>
                        <% } %>
                        <small class="ErrFormulario" id="lastNameError"></small>
                    </div>

                    <div class="inputBx">
                        <label>Correo electrónico</label>
                        <div class="inputIcon"> 
                            <input class="inputEmail"
                            type="email" 
                            name="email" 
                            id="email"
                            <% if(locals.errors && errors.email) {%>
                                class = "invalid-value"
                            <% } %>
                            value="<%= locals.old ? old.email : '' %>">
                        </div>
                        <% if(locals.errors && errors.email) {%>
                            <div class="ErrFormulario">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                        <small class="ErrFormulario" id="emailError"></small>
                    </div>

                    <div class="inputBx">
                        <label>Contraseña</label>
                        <div class="inputIcon">
                            <input 
                            type="password" 
                            name="password" 
                            id="password">
                            <% if(locals.errors && errors.password) {%> 
                                <div class="ErrFormulario">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="inputBx">
                        <div class="inputIcon">
                            <label for="avatar" id="avatarL" class="main__form-upload">Imagen de perfil</label>
                        </div>
                        <input 
                        type="file" 
                        name="avatar" 
                        id="avatar">
                        <% if(locals.errors && locals.errors.avatar ){ %>
                            <div class="ErrFormulario">
                                <%= errors.avatar.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Crear cuenta">
                    </div>
                    <div class="inputBx">
                        <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/userRegisterValidation.js"></script>
</body>

</html>